/*
===== Global Attributes =====
 */

* {
    margin-left: 2%;
    margin-right: 2%;
}

/*
===== CONTENT STYLES =====
 */

title, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 24px; /* 3em; */
    line-height: 50px; /* 1.25em; */
    margin-top: 0.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 20px; /* 3.5em; */
    line-height: 25px; /* 1.24em; */
    margin: 0.5em auto 0.5em ;
}

h3 {
    font-size: 16px; /* 3.5em; */
    line-height: 25px; /* 1.24em; */
    margin: 0.5em auto 0.5em auto;
}

p {
    font-size: 14px; /* 2em; */
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    line-height: 20px;
}

ul {
    font-family: 'Playfair Display', serif;
    color: #0f75bd;
}

/*
===== BUTTONS AND LINKS =====
*/

[class*="button-"] {
    margin: 10px 5px; /* Spacing to other elements*/
    padding: 0.75% 1.25%; /* Spacing to text */
    border: 2px solid black;
    background-color: white;
    color: black;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

[class*="button-"]:hover {
    background-color: black;
    color: white;
}

.button-list {
    border: 2px solid #0f75bd; /* Blue */
    background-color: white;
    color: #0f75bd; /* Blue */
    display: block;
    font-size: 16px;
}

.button-list:hover {
    background-color: #0f75bd; /* Blue */
    color: white;
}

/*
===== LOGO STYLES =====
*/
.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}
.logo img {
    width: 150px;
}

.logo-name {
    font-size: 50px;
    text-align: left;
    display: inline;
}

/*
===== Center =====
 */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
==== MAIN NAVIGATION STYLES DESKTOP
 */

.main-navigation {
    position: center;
    background-color: white;
    display: block;
    height: 50px;
    width:100%;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
}

.main-navigation li {
    list-style-type: none;
    float: right;
    margin-left: 0;
    margin-right: 0;
}

.main-navigation a {
    color: #808185;
    width: 125px;
    line-height: 50px;
    display: inherit;
    text-decoration: none; /* Removes Underline */
    text-transform: uppercase;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.main-navigation a.active {
    background-color: #0f75bd;
    color: white;
}

.main-navigation a:hover:not(.active) { /* Hover if not active */
    background: #808185;
    color: white;
    transition: .2s color;
}

/*
===== MAIN NAVIGATION STYLES MOBILE =====
*/

/*.main-navigation ul {*/
/*    padding-left: 40%;*/
/*}*/
/*.main-navigation  li {*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    margin: 1% 0;*/
/*}*/

/*.main-navigation a {*/
/*    display: block;*/
/*    padding: 2% 1%;*/
/*    max-width: 30%;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    background: rgba(67, 67, 67, 0.2);*/
/*    color: rgb(70, 70, 70);*/
/*}*/



/*
===== Slide Show =====
 */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: inherit;
    horiz-align: center;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 20%;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 20%;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: inherit;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: inherit;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}